NAV_TM Task Metric Utilities/datatype/%7Burn%3Anavlabs%3Aapplication%3Atm%7DNAV_TM_TaskMetric.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:navlabs:application:tm"
  xmlns:tns="urn:navlabs:application:tm" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="NAV_TM_TaskMetric">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">
        @Table(name="t_task_metric")
	  </xsd:appinfo>
      <xsd:documentation><![CDATA[Task Metrics that are saved to the Database]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue @Column(name="task_metric_id")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskUuid" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_uuid")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskId" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_id")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskDisplayName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_display_name")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_name")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskOwner" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_owner")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskAssignees" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_assignees")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskStatus" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_status")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskStatusName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_status_name")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskStartTime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_start_time")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskAssignmentTime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_assignment_time")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskCompletionTime" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_completion_time")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskDescription" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_description")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskPriority" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_priority")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskPriorityName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_priority_name")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="taskDeadline" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="task_deadline")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="processDisplayName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="process_display_name")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="processId" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="process_id")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="processModelUuid" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="process_model_uuid")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="processModelId" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="process_model_id")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="processModelName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="process_model_name")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="completionDuration" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="completion_duration")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lagDuration" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="lag_duration")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="workDuration" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="work_duration")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netCompletionDuration" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="net_completion_duration")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netLagDuration" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="net_lag_duration")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netWorkDuration" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="net_work_duration")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="completionDurationMinutes" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="completion_duration_minutes")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lagDurationMinutes" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="lag_duration_minutes")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="workDurationMinutes" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="work_duration_minutes")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netCompletionDurationMinutes" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="net_comp_duration_minutes")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netLagDurationMinutes" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="net_lag_duration_minutes")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="netWorkDurationMinutes" nillable="true" type="xsd:decimal">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="net_work_duration_minutes")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="lastUpdatedAt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="last_updated_at")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdAt" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="created_at")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="applicationCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="application_code")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ignoreInd" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ignore_ind")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customField1" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="custom_field_1")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customField2" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="custom_field_2")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customField3" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="custom_field_3")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
